

<!-- el SELECT sólo se enseña si estás identificado -->
<div *ngIf="customer.getUser() != {}">

<h3>trabajando en <b>{{ customer.collName }} </b></h3>    
<select [(ngModel)]="selected" (change)="form.reset(selected); modal.open()" >
    <option *ngFor="let cust of customer.data | async"
        [ngValue]="cust">{{cust.firstName}} {{cust.lastName}}</option>
</select>

</div>

<modal #modal>
   
  <modal-header>         
      <h3>            
          {{form.value.firstName}} {{form.value.lastName}}
      </h3>
  </modal-header>
  <modal-content>
    <form [formGroup]="form" (ngSubmit)="customer.saveCustomer(form.value); form.reset(); modal.close()" >
        <input type="hidden" [formControl]="form.controls.$key">        
        <input [formControl]="form.controls.firstName" placeholder="firstName">
        <input [formControl]="form.controls.lastName" placeholder="lastName">
        <input [formControl]="form.controls.address" placeholder="address">
        <br>        
        <input [formControl]="form.controls.code" placeholder="Code">
        <div *ngIf="form.hasError('pattern', 'code')" class="text-danger" >
            este campo debe contener 5 letras de A a Z
        </div>
        <br>
        
        <input [formControl]="form.controls.phone" placeholder="phone">
        <div *ngIf="form.hasError('pattern', 'phone')" class="text-danger" >
                este campo debe contener 13 dígitos del 0 al 9
        </div>
        <br>
        <input type="submit" value="guardar" class="btn btn-default">
        <input type="reset" value="nuevo" class="btn btn-default">
    </form>
    <!-- debug -->
    <!-- <pre>{{ form.value | json }}</pre> -->
    
  </modal-content>    
  <modal-footer>    
      última edición: 
    <div class="row">
        <div class="col-sm-6">
          <input [formControl]="form.controls.editBy" disabled class="form-control">
        </div>
        <div class="col-sm-6">
          <input [formControl]="form.controls.dateEdit" disabled class="form-control" >            
        </div>    
    </div>
  </modal-footer>
</modal>