
<div *ngIf="!s.aFAuth.auth.currentUser">
  <p>debes estar identificado para poder usar esta App</p>
  <span class="btn btn-primary" (click)="modal.open()"> Identifícate </span>
  
</div>

<div *ngIf="s.aFAuth.auth.currentUser">  
  <span class="text-danger" style="font-size: 18px;">
      {{ s.aFAuth.auth.currentUser.email }}
  </span>  
  <span (click)="s.aFAuth.auth.signOut()"
    class="btn btn-default"> Logout </span>
</div>

<modal #modal>
  <modal-header>
    <h3>Login</h3>
  </modal-header>
  <modal-content>
  
    <input [(ngModel)]="email" placeholder="email"><br>
    <input [(ngModel)]="password" placeholder="password"><br>
    <button (click)="s.aFAuth.auth.signInWithEmailAndPassword(email, password) " > login </button>
    <br>
    <button (click)="s.gmailLogin(); modal.close()" > Gmail login </button>
    <button (click)="s.aFAuth.auth.createUserWithEmailAndPassword(email, password); modal.close()"> 
      crear usuario 
    </button> 
  </modal-content>
  <modal-footer>
      <!-- <button (click)="s.aFAuth.auth.signOut(); router.navigate('protected')" > 
        logout 
      </button> -->
  </modal-footer>
</modal>

