


<div *ngIf="!login.ngAuth.auth.currentUser">
  <p>debes estar identificado para poder usar esta App</p>
  <span class="btn btn-default" (click)="modal.open()"> Identifícate </span>
  
</div>

<div *ngIf="login.ngAuth.auth.currentUser">  
  <div class="marco text-primary">
    <img *ngIf="login.getUser().photoURL"
      [src]="login.getUser().photoURL" 
      width="30px" 
      height="30px" 
      class="img-circle">    
    <span [innerText]="login.getUser().displayName || 'cuenta sin nombre de usuario' " style="font-size: 15px">      
    </span>
    <br>
    <span [innerText]="login.getUser().email" style="font-size: 15px">      
    </span>

    
      
  </div>  
  <hr>
  <div (click)="login.ngAuth.auth.signOut()"
    class="btn btn-default"> 
    Logout 
  </div>
</div>

<modal #modal>
  <modal-header>
    
    <button (click)="login.gmailLogin(); modal.close()"
      class="btn btn-default"> 
        accede con Gmail 
    </button>
  
    <button (click)="login.ngAuth.auth.createUserWithEmailAndPassword(email, password); modal.close()"
      class="btn btn-default"> 
        créate un usuario en este sitio
    </button>     

  </modal-header>
  
  <modal-content>  
    <input [(ngModel)]="email" placeholder="email" class="form-control"><br>
    <input [(ngModel)]="password" placeholder="password" class="form-control"><br>
    <button (click)="login.ngAuth.auth.signInWithEmailAndPassword(email, password); modal.close() " 
      *ngIf="email && password"
      class="btn btn-default">
       login 
    </button>        
  </modal-content>

  <modal-footer>   
  </modal-footer>
</modal>

