
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">        
        <a class="navbar-brand" href="/">ifcd0112</a>
      </div>
      <ul class="nav navbar-nav">        
        <li><a [routerLink]="['/customers']"> Customers </a></li>
        <li><a [routerLink]="['/alumnos']"> alumnos</a></li>
        <li><a [routerLink]="['/uploads']"> archivos </a></li>        
        <li><a [routerLink]="['/testing']"> testing</a></li>        
        <li><a [routerLink]="['/login']">  Login </a></li>                
      </ul>
    </div>
  </nav>
<router-outlet>
</router-outlet>
