.avatar {
	box-shadow: 2px 2px 2px #888888;       
  padding: 10px 10px 10px 10px; 
  margin: 10px 10px 10px 10px;  	
  border-radius: 5px 5px 5px 5px;
  background-color: white;
  float: left;
}
.avatar:hover {
  background-color: #BDCCF4;
}
.marco {  
	box-shadow: 2px 2px 2px #888888;       
  padding: 10px 10px 10px 10px; 
  margin: 10px 10px 10px 10px;  	
  border-radius: 5px 5px 5px 5px;
  background-color: white;  
}
.marco:hover { 
  color: white;
  /* font-size: 18px; */
  background-color: #BDCCF4;
}
.comentarios {
  box-shadow: 2px 2px 2px #888888;       
}
.comentarios:hover { 
  background-color: lightyellow;
}

test {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: -1;
}