

<datalist id="browsers">
  <option value="Internet Explorer">
  <option value="Firefox">
  <option value="Chrome">
  <option value="Opera">
  <option value="Safari">
</datalist>

<div>
  <h3>{{form1.value.cliente.apellidos}}, {{form1.value.cliente.nombre}}</h3>
  <pre>{{form1.value | json}}</pre>
</div>

<form #form1="ngForm" (ngSubmit)="sendForm(form1.value)" >
  <div class="marco">
  <!-- selector de cliente -->
  <select ngModel name="cliente">
    <option *ngFor="let c of dataService.clientes | async"
    [ngValue]="c">{{c.apellidos}} - {{c.nombre}}</option>
  </select>
  </div>
  
  <!-- navegador list="datalist"-->
  <div class="marco">
    <input ngModel list="browsers" name="navegador">
  </div>
  
  <!-- radios -->
  <div class="marco">
      Perfil:<br>
      Tecnología: <input type="radio" name="perfil" value="Tec" ngModel>
      Docencia: <input type="radio" name="perfil" value="Doc" ngModel> 
      Investigación: <input type="radio" name="perfil" value="Inv" ngModel> 
  </div>

  
  <div class="marco">
    Vehículo:<br>
    Bici <input ngModel type="checkbox" name="bici" value="bici">  
    Coche <input ngModel type="checkbox" name="coche" value="coche">  
    Camión <input ngModel type="checkbox" name="camion" value="camion">  
  </div>

  <div>
    Cantidad: <br>
    <input ngModel type="number" name="cantidad" min="1" max="5">  
  </div>
  
  <div>
    Puntuación: <br>  
    <input #puntuacion ngModel type="range" name="puntuacion" min="0" max="10">
    <h4>{{form1.value.puntuacion}}</h4>
  </div>

  <div>    
    <button (click)="addLinea(form1.value)">añadir factura</button>
  </div>
  <pre>{{form1.value.lineas|json}}</pre>
  <hr>
  <input type="submit" value="enviar">
  <input type="reset" value="limpiar">
</form>
<br>
<button (click)="form1.reset(perfilTecnologico)">perfil tecnológico</button>