<div class="page-header">
  <div class="container">
  <h1>Router Sample</h1>
  <div class="navLinks">
  <a [routerLink]="['/home']">Home</a>
  <a [routerLink]="['/about']">About Us</a>
  <a [routerLink]="['/contact']">Contact Us</a>
  |
  <a [routerLink]="['/products']">Products</a>
  <a [routerLink]="['/login']">Login</a>
  <a [routerLink]="['/protected']">Protected</a>
  </div>
  </div>
  </div>
  <div id="content">
  <div class="container">
  <router-outlet></router-outlet>
  </div>
  </div>