<detail *ngFor="let post of posts.data | async" 
  [post]="post"
  (click)="model = post; detalle.open()" >
</detail>

<modal #detalle modalClass="modal-lg">
  <modal-content>    
    <div [innerHtml]="model.texto" >
    </div>
  </modal-content>  
</modal>
