<!-- Lista de alumnos ordenable -->

<!-- columna de títulos clickable -->
<div class="row" title="haz click para ordenar por esta columna">
  <div class="col-sm-3"> foto </div>
  <div class="col-sm-3" (click)="serv.getQuery('/alumnos/', { query: { orderByChild: 'apellidos' }})">
    Apellidos
  </div>
  <div class="col-sm-3" (click)="serv.getQuery('/alumnos/', { query: { orderByChild: 'nombre' }})">
      Nombre
  </div>
  <div class="col-sm-3" (click)="serv.getQuery('/alumnos/', { query: { orderByChild: 'direccion' }})">
      Dirección
  </div>  
</div>
<hr>
<!-- tabla de resultados -->

<div *ngFor="let row of serv.queryResults | async, let i = index" 
  class="row" 
  (click)="formAlumno.reset(row);reactiveForms.hidden = false">  
  <div class="col-sm-3">    
    <img [src]="row.avatarUrl || serv.defaultAvatar" width="30px" height="30px" class="img-circle">
  </div>
  <div class="col-sm-3">{{ i + 1}} - {{row.apellidos}}</div>
  <div class="col-sm-3">{{row.nombre}}</div>
  <div class="col-sm-3">{{row.direccion}}</div>      
</div>

<hr>

<!-- ejemplo de ReactiveForms:
reset de formulario con el alumno clickado -->

<div #reactiveForms hidden> 
  <!-- Formulario de edición -->
  <form [formGroup]="formAlumno" (ngSubmit)="serv.saveAlumno(formAlumno.value);reactiveForms.hidden = true">
    <input [formControl]="formAlumno.controls.$key" hidden  > 
    <input [formControl]="formAlumno.controls.apellidos" placeholder="Apellidos"> 
      <div  *ngIf="formAlumno.hasError('required', 'apellidos')" 
        class="text-danger">
        apellidos es obligatorio
      </div>
    
    <input [formControl]="formAlumno.controls.nombre" placeholder="Nombre"> 
    <div  *ngIf="formAlumno.hasError('required', 'nombre')" 
        class="text-danger">
        nombre es obligatorio
    </div>

    <input [formControl]="formAlumno.controls.direccion" placeholder="Dirección"><br> 
    <input [formControl]="formAlumno.controls.email" placeholder="email"><br> 
    <input [formControl]="formAlumno.controls.telefono" placeholder="telefono"><br> 
    <input [formControl]="formAlumno.controls.fechaAlta" type="date" placeholder="fecha"><br> 

    <hr>

    <div *ngIf="formAlumno.valid">
      <button (click)="formAlumno.reset()" >nuevo</button>
      <button type="submit"> Guardar </button>
      <!-- si no se llama a  formAlumno.reset() después, no borra de la base de datos-->
      <button (click)="serv.deleteAlumno(formAlumno.value.$key); formAlumno.reset(); reactiveForms.hidden = true">eliminar</button>
      
    </div>        
    
  </form>  
  <!-- gestión de tareas, es un array asociado al alumno
  lo pongo fuera del FORM porque hace cosas raras con el evento submit y duplica alumnos -->
  <h4>tareas</h4>
  <input #taskTitle>
  <input #taskDate type="date" >
  <button (click)="addTask(taskTitle.value, taskDate.value)" > añadir tarea </button>
  <div *ngFor="let t of formAlumno.value.tasks, let i = index">

    <span class="glyphicon glyphicon-trash text-danger marco" (click)="formAlumno.value.tasks.splice(i, 1)"></span>
    <span> {{t.titulo}} - {{t.fecha}} </span> 
  </div>

</div>

<!-- Zona de Pruebas para querys a firebase -->

<span class="h3">zona de pruebas para query</span> 
<span #onOff [ngClass]="expandir" 
  (click)="onOff.className = onOff.className == this.expandir ? this.comprimir : this.expandir ;
           divTres.hidden = !divTres.hidden;
           reactiveForms.hidden = true" 
  style="font-size: 18px"></span>
<div #divTres hidden>
  <textarea #query cols="50" rows="10" style="font-size: 15px">
  { "query": {
    "orderByChild": "apellidos",
    "startAt": "A",
    "endAt": "Z"    
  }}
        
  </textarea>
  <br>
  <button (click)=" sendQuery(query.value)">enviar Query</button>
  <hr>


</div>

