<span (click)="f.resetForm({}); editCliente.open()" class="glyphicon glyphicon-plus text-primary marco" style="font-size: 20px">    
  </span>

<hr>
<div *ngFor="let c of serv.alumnos | async" (click)="f.resetForm(c); editCliente.open()" title="editar cliente: {{c.apellidos}}"
  class="marco">
  <div>
    <img *ngIf="c.avatarUrl" [src]="c.avatarUrl" height="50" width="50" class="img-circle">
    <span style="font-size: 18px">{{c.apellidos}}, {{c.nombre}}</span>
    <a href="mailto:{{c.email}}" title="enviar email" class="marco">
        <span class="glyphicon glyphicon-envelope"></span>
      </a> {{c.direccion}}
  </div>
</div>


<modal #editCliente modalClass="modal-lg" title="{{f.value.apellidos}}, {{f.value.nombre}}" (onClose)="showFormClientes.hidden = true; texto.hidden = true">
  <modal-header>
    <div *ngIf="f.value.avatarUrl" (click)="modalAvatar.open()">
      <img [src]="f.value.avatarUrl" height="100" width="100" class="img-circle avatar" title="cambiar avatar">
    </div>
    <div *ngIf="!f.value.avatarUrl" (click)="modalAvatar.open()">
      <h4>añadir avatar</h4>
    </div>

    <span class="glyphicon glyphicon-envelope marco text-primary">
            <a href="mailto:{{f.value.email}}"></a>  
        </span>

    <span class="glyphicon glyphicon-pencil marco text-primary" (click)="showFormClientes.hidden = !showFormClientes.hidden">          
        </span>
    <br> {{f.value.direccion}}
    <br> {{f.value.email}}
    <br>
    <div [innerText]="f.value.comentarios || 'sin comentarios'" (click)="showFormClientes.hidden = !showFormClientes.hidden"
      class="comentarios">
    </div>

  </modal-header>

  <modal-content>
    <div #showFormClientes [hidden]="true">
      <form #f="ngForm" (ngSubmit)="serv.saveAlumno(f.value); editCliente.close()">
        <input name="$key" ngModel type="hidden" class="form-control">
        <input name="avatarUrl" ngModel type="hidden">

        <div class="row">
          <div class="col-sm-6">
            <input name="nombre" ngModel placeholder="Nombre" class="form-control">
          </div>
          <div class="col-sm-6">
            <input name="apellidos" ngModel placeholder="Apellidos" class="form-control">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <input name="direccion" ngModel placeholder="Dirección" class="form-control">
          </div>
          <div class="col-sm-3">
            <input type="date" name="fechaAlta" ngModel class="form-control">
          </div>
          <div class="col-sm-3">
            <input name="email" ngModel class="form-control" placeholder="email">
          </div>
        </div>



        <hr>
        <div #texto [hidden]="true">
          <textarea class="form-control comentarios" name="comentarios" ngModel>
              </textarea>
        </div>
        <hr>
        <div [innerText]="f.value.comentarios || 'sin comentarios'" (click)="texto.hidden = !texto.hidden" class="comentarios">
        </div>

        <hr>


      </form>
    </div>
  </modal-content>

  <modal-footer>
    <div style="text-align: left">
      <input type="submit" value="guardar" class="marco text-primary">
      <span (dblclick)="serv.deleteAlumno(f.value.$key); editCliente.close()" class="glyphicon glyphicon-trash text-danger marco"
        style="font-size: 15px" title="Doble Click para Eliminar este cliente: {{f.value.apellidos}}, {{f.value.nombre}}; Atención! no se puede deshacer">
      </span>
    </div>
  </modal-footer>
</modal>

<modal #modalAvatar>
  <modal-header>
    <h4>cambia este avatar</h4>
  </modal-header>
  <modal-content>
    <span (click)="avatar.click()" class="glyphicon glyphicon-folder-open marco" title="selecciona nuevo archivo">
        <div hidden>
          <input #avatar type="file" class="form-control" (change)="showChanges = true" >
        </div>      
      </span>
    <div *ngIf="showChanges">
      <p>nombre de archivo: <span class="text-success">{{avatar.files[0].name}}</span></p>
      <p>tamaño: <span class="text-success">{{avatar.files[0].size}}</span> bytes</p>
      <p>tipo: <span class="text-success">{{avatar.files[0].type}}</span></p>
      <p>localización:
        <span class="text-success">
              gs://ifcd0112.appspot.com{{serv.carpetaStorage}}{{avatar.files[0].name}}
            </span>
      </p>
      <button (click)="serv.saveFile(avatar.files[0],f); modalAvatar.close()" class="marco" title="guárdalo en FireBase Storage">
            upload
        </button>
    </div>

  </modal-content>

</modal>