
<!-- mostrar datos si hay -->
<div *ngIf="uploads.data">
  <h3> colecciones </h3>
  <div *ngFor="let session of uploads.data | async" 
    (click)="form.reset(session); divEdit.hidden = !divEdit.hidden"
    class="marco">
    <span (click)="
          uploads.deleteSession(session.$key); 
          form.reset({ files: []});
          divEdit.hidden = true"
      class="glyphicon glyphicon-trash text-danger marco"></span>    
    <span class="text-primary"><b> {{session.titulo}} </b> </span>
    {{session.dateEdit.split('T')[0]}}
    <!-- archivos:<br>
    <div *ngFor="let f of session.files">
      {{f.name}}
    </div> -->
  </div>
</div>
<button (click)=" form.reset({ files: []}); divEdit.hidden = false"
  class="btn btn-default">
  nueva colección de adjuntos
</button>
<!-- <pre>{{ uploads.data | async | json}}</pre> -->


<div #divEdit hidden>

  <h4>pendientes de subir a Storage</h4>
  <div *ngFor="let f of uploads.files, let i = index">
    <span (click)="uploads.files.splice(i,1)"
      class="glyphicon glyphicon-trash text-danger marco">       
    </span>
    {{f.name }} {{f.type}}   
    <br>  
  </div>
  <br>
  <input #file type="file" (change)="uploads.addFiles(file.files)" multiple>
  <br>
  <button (click)="uploads.saveFiles(form.value)" 
    *ngIf="uploads.files && uploads.files.length > 0"
    class="btn btn-default">
    subir a Storage
  </button>
  <hr>

  <div *ngIf="form.value.files && form.value.files.length > 0">  
    <h4> en esta colección</h4>  
    <ul>
      <li *ngFor="let f of form.value.files, let i = index">
        <span (click)="uploads.fileRemove(f, form.value, i)"
          class="glyphicon glyphicon-trash text-danger marco">
        </span>
        <a [href]="f.url" target="_blank">
            {{f.name}}          
        </a> 
      </li>
    </ul>
  </div>
  <hr>


  <form [formGroup]="form" 
        (ngSubmit)="
          uploads.saveForm(form.value); 
          form.reset({ files: []}); 
          divEdit.hidden = true">
    <input [formControl]="form.controls.$key" type="hidden">
    título: <input [formControl]="form.controls.titulo" class="form-control" >
    <hr>
    <textarea cols="40" rows="10" class="form-control"
        [formControl]="form.controls.descripcion">
    </textarea> 
    <br>
    <div>
        <input type="submit" value="guardar colección" class="btn btn-default">
    </div>
    
  </form>  
  <hr>
</div>
<!-- <pre>{{form.value | json}}</pre> -->